html, body{
    color: #FFFFFF;
    background-color: #21232A;
    font-family: Corbel;
}

button{
    background-color: #21232A;
    border: #FFFFFF solid 1.5px;
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 4px;
    padding: .4rem 1rem;
}

button:hover{
    background-color: #FFFFFF;
    box-shadow: inset 0 0 0 3px #21232A;
    color: #21232A;
}